/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 977px;
    max-width: 80%;
    position: relative;
    text-align: center;
    height: 728px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.video-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.video-thumbnail {
    width: 100%;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.video-details {
    margin-bottom: 20px;

    label{
        text-align: left;
        display: flex;
        padding: 0 0 0 10%;
        margin-bottom: 3px;
    }
}

.video-details input {
    width: 80%;
    /* margin-top: 10px; */
    border: 1px solid #ddd;
    border-radius: 10x;
    height: 50px;
    text-indent: 20px;
    padding: 10px 10% 10px 0%; ;
}

.button-group {
    display: flex;
    justify-content: space-between;
    padding: 0px 10% 10px 10%; 
}

img{
    width: 669px;
    height: 438px;
}

.delete-button,
.save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #fff;
    border: 2px solid #A9C0A6;
    color: #000;
}

.save-button {
    background-color: #A9C0A6;
    color: #000;
    border: 0;
}
#Såfunkar {
    margin: 70px 10% 10px 10%; 

    .card {
        border-radius: 25px;
        background-color: #fff;
    }

    .card p {
        font-size: 20px;
        text-align: center;
    }

    .card span {
        margin: 0 50%;
        display: block;
        color: #fff;
        font-size: 80px;
        transform: translateY(360%);
        position: absolute;

    }

    .card i {
        margin: 0 45%;
        font-size: 20px;
        line-height: 60px;
        background: #F4CCCC;
        width: 59px;
        height: 59px;
        border-radius: 50%;
        text-align: center;
    }

    .card .text {
        margin: 5%;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
    }
}