* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: #000;
    font-family: "Lato", Arial, sans-serif;
}

body {
    position: relative;
    /* background-color: #F5F5DC !important; */
    width: 1440px;
    margin: auto;
}

ul {
    margin-bottom: unset !important;
}


.header-div {
    background-color: #A9C0A6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.container {
    padding: 10px;
}

.logo {
    width: 50px;
    padding-left: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav .Minhalsning {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;
}

nav ul li a i {
    font-size: 20px;
    transform: scale(1.5);
}

.header-text {
    margin-top: 15%;
    font-family: Lato;
    font-size: 32px;
    padding: 0 5%;
}

.header-text h1 {
    font-size: 55px !important;
}

.header-text p {
    padding-top: 20px;
    font-size: 20px;
}

.margineft-150px {
    margin-left: 150px;
}

.marginleft-100px {
    margin-left: 100px;
}

.nav-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.px-6 {
    padding: 5% !important;
}

.content-div {
    background-color: #F5F5DC;
     p{
        width: 847px;
     }
}

.cards-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    p{
        width: 495px;
        font-size: 20px;
        margin-left: 15px;

    }
    h1{
        font-size: 32px;
        margin-left: 15px;


    }
    img{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 15px;

    }
    .arrow-btn{
        margin-top: 10px;
    }
}

.card-1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid #C1EEF4;
    border-radius: 25px;
    background-color: #C1EEF4;
    width: 630px;
    height: 350px;
    padding: 2.5%;
    box-shadow: 0px 3px #96B7C4;

    
    img{
        width: 76px;
        height: 56px;
    }
}

.arrow-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    span{
        font-weight: 600;
    }
    
}

.icon-btn {
    border: 0.5px solid white;
    border-radius: 50%;
    background: white;

    i {
        height: 50px;
        width: 50px;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: #D4E4D1;
    background-color: #D4E4D1;
    border-radius: 25px;
    width: 630px;
    height: 350px;
    padding: 2.5%;
    box-shadow: 0px 3px #849C81;

    img{
        width: 89px;
        height: 58px;
    }
}

.card-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: #F4CCCC;
    background-color: #F4CCCC;
    border-radius: 25px;
    width: 630px;
    height: 350px;
    padding: 2.5%;
    box-shadow: 0px 3px #B97979;

    img{
        width: 54px;
        height: 72px;
    }
}

.card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: #DBDBF0;
    background-color: #DBDBF0;
    border-radius: 25px;
    width: 630px;
    height: 350px;
    padding: 2.5%;
    box-shadow: 0px 3px #9797C1;

    img{
        width: 60px;
        height: 65px;
    }
}